/* You can add global styles to this file, and also import other style files */

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1, h2, h3, h4, h5, h6 { 
    color: white; 
    /* font-family: Garamond, serif; */
    /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
    /* Sans-serif options: */
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    /* font-family: "Segoe UI", Tahoma, Geneva, sans-serif; */
}

h1 { 
    font-size: 33pt; 
    @media (min-width: 960px) {
        font-size: 50pt;
    }
}
h2 { 
    font-size: 29pt; 
    @media (min-width: 960px) {
        font-size: 37pt;
    }
}
h3 { 
    font-size: 26pt; 
    @media (min-width: 960px) {
        font-size: 29pt;
    }
}
h4 { 
    font-size: 23pt; 
    @media (min-width: 960px) {
        font-size: 23pt;
    }
}
h5 { 
    font-size: 20pt; 
    @media (min-width: 960px) {
        font-size: 19pt;
    }
}
h6 { 
    font-size: 18pt; 
    @media (min-width: 960px) {
        font-size: 15pt;
    }
}
p, li  { 
    font-size: 14pt; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    @media (min-width: 960px) {
        font-size: 14pt;
    }

}

.green-button {
    width: 100%; 
    margin-bottom: 20px; 
    background-color:  #43834B; 
    border: none; 
    border-radius: 25px; 
    padding: 10px; 
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: filter 0.3s ease;

    &:hover {
        filter: brightness(130%);
    }
}

a {
    text-decoration: none;
}

.bright-hover {
    transition: filter 0.3s ease; /* Add smooth transition */
    &:hover {
        filter: brightness(130%);
    }
}

.orange-hover {
    transition: color 0.3s ease; /* Add smooth transition */
    &:hover {
        color: #ffda7e;
    }
}

.green-text {
    color: #90FF9E;
}

.blue-text {
    color: #90CDFF;
}

.orange-text {
    color: #ffba90;
}

.header-background {
    min-height: 6vh;
    opacity: 90%;
}

.header-style {
    @media (min-width: 768px) {
        position: fixed;
        width: 100%;
        z-index: 1;
    }
}

.main-background {
    background: linear-gradient(45deg, #3E39D7 0%, #1C3994 13%, #1D5B26 86%, #46864D 100%);
    min-height: 100vh;
    padding-bottom: 40px;
    padding-top: 6vh;


    @media (min-width: 768px) {
        padding-top: 16vh;
    }

    @media (min-width: 1520px) {
        padding-top: 12vh;
    }
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.img-center-l {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.img-center-m {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
}

.img-center-s {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 40%;    
    height: 40%;
}

.img-center-xs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-1 {
    animation: fadeIn 1s ease-in;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
}

.fade-in-2 {
    animation: fadeIn 1s ease-in;
    animation-delay: 400ms;
    animation-fill-mode: backwards;
}

.fade-in-3 {
    animation: fadeIn 1s ease-in;
    animation-delay: 800ms;
    animation-fill-mode: backwards;
}