<mat-menu #ModelMenu>
    <a mat-menu-item routerLink="/portfolio/machine-learning/methods/principal-component-analysis">PCA</a>
    <a mat-menu-item routerLink="/portfolio/machine-learning/methods/clustering">Clustering</a> 
    <a mat-menu-item routerLink="/portfolio/machine-learning/methods/association-rule-mining">ARM</a>
    <a mat-menu-item routerLink="/portfolio/machine-learning/methods/naive-bayes">Naïve Bayes</a>
    <a mat-menu-item routerLink="/portfolio/machine-learning/methods/decision-tree">Decision Tree</a>
    <a mat-menu-item routerLink="/portfolio/machine-learning/methods/regression">Regression</a>

</mat-menu>

<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container" style="font-size: 18px;">
        <ul class="nav justify-content-center">
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/machine-learning/introduction">
                    <button mat-stroked-button>Introduction</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/machine-learning/data-prep-and-eda">
                    <button mat-stroked-button>Data Prep and EDA</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                    <button mat-stroked-button [mat-menu-trigger-for]="ModelMenu">Models and Methods</button>
            </li>
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/machine-learning/conclusions">
                    <button mat-stroked-button>Conclusions</button>
                </a>
            </li>
        </ul>
    </div>
</nav>

