<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container" style="font-size: 18px;">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a routerLink="/portfolio/machine-learning/introduction" class="nav-link text-secondary" routerLinkActive="text-dark">Introduction</a>
            </li>
            <li class="nav-item">
                <a routerLink="/portfolio/machine-learning/data-prep-and-eda" class="nav-link text-secondary" routerLinkActive="text-dark">EDA / Data Prep</a>
            </li>
            <li class="nav-item">
                <div class="login">
                    <a routerLink="/portfolio/machine-learning/models-and-methods" class="nav-link text-secondary" routerLinkActive="text-dark">hi
                        <p>testing</p>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a routerLink="/portfolio/machine-learning/conclusions" class="nav-link text-secondary" routerLinkActive="text-dark">Conclusions
                </a>
            </li>
        </ul>
    </div>
</nav>

