<!-- <div class="header-style" style="position: fixed; top: 0; z-index: 1000;"> -->
<div class="header-style">
    <div class="header-background">
        <div class="container">
            <div class="row row-cols-1 align-items-center">
                <div class="col">
                    <h2 class="text-center mb-4 mt-1" style="letter-spacing: 3px;">Daniel Ethridge</h2>
                </div>
                <!-- <div class="col-xxl-1"></div> -->
                <div class="col">
                    <div class="row row-cols-2 row-cols-md-5">
                        <a href="/home" class="col d-flex justify-content-center" style="text-decoration: none;">
                            <h5 class="green-hover">Home</h5>
                        </a>
                        <a href="/about-me" class="col d-flex justify-content-center" style="text-decoration: none">
                            <h5 class="green-hover">About</h5>
                        </a>
                        <a href="/portfolio" class="col d-flex justify-content-center" style="text-decoration: none;">
                            <h5 class="green-hover">Portfolio</h5>
                        </a>
                        <a href="/contact" class="col d-flex justify-content-center" style="text-decoration: none;">
                            <h5 class="green-hover">Contact</h5>
                        </a>
                        <a href="../../assets/ethridge_cv.pdf" target="_blank" download class="col-12 col-md d-flex justify-content-center" style="text-decoration: none;">
                            <h5 class="green-hover">CV</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="simpleBackground; else elseBlock" style="position: fixed; inset: 0; background: #B5B5B5; z-index: -1; pointer-events: none;">
</div>

<ng-template #elseBlock>
    <img
        src="../assets/bkgnd.jpg"
        alt=""
        style="position: fixed; left: 50%; top: 0; transform: translateX(-50%); z-index: -1; pointer-events: none; display: block; width: 100vw; max-width: 100vw; height: auto; max-height: 100vh; object-fit: cover;"
    >
</ng-template> -->
