<!-- <div id="black-bar" class="nav-bar">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col-12 col-xxl-6 align-items-center">
                <h2 class="orange-text text-center" style="letter-spacing: 5px;">Daniel Ethridge</h2>
            </div>
            <div class="col-12 col-xxl-6">
                <div class="row text-center">
                    <a href="/home" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 style="color: white;">Home</h5></a>
                    <a href="/about-me" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 style="color: white;">About Me</h5></a>
                    <a href="/portfolio" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 style="color: white;">Portfolio</h5></a>
                    <a href="/contact" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 style="color: white;">Contact</h5></a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="header-style">
    <div style="background-color: black; opacity: 87%;">
        <div class="container align-items-center">
            <div class="row row-cols-1 align-items-center header-background">
                <div class="col-12 col-xxl-6 align-items-center">
                    <a href="/home" style="text-decoration: none;">
                        <h2 class="text-center orange-text orange-hover" style="letter-spacing: 5px;">Daniel Ethridge</h2>
                    </a>
                </div>
                <div class="col-12 col-xxl-6">
                    <div class="row text-center">
                        <a href="/home" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 class="green-hover">Home</h5></a>
                        <a href="/about-me" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 style="color: white;">About Me</h5></a>
                        <a href="/portfolio" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 style="color: white;">Portfolio</h5></a>
                        <a href="/contact" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 style="color: white;">Contact</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
