<div class="header-style">
    <div class="header-background">
        <div class="container">
            <div class="row row-cols-1 align-items-center">
                <div class="col-12 col-xxl-6">
                    <a href="/home" style="text-decoration: none;">
                        <h2 class="text-center orange-text orange-hover" style="letter-spacing: 5px; margin-top: 0px;">Daniel Ethridge</h2>
                    </a>
                </div>
                <div class="col-12 col-xxl-6 text-center">
                    <div class="row">
                        <a href="/home" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 class="green-hover">Home</h5></a>
                        <a href="/about-me" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 style="color: white;">About Me</h5></a>
                        <a href="/portfolio" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 style="color: white;">Portfolio</h5></a>
                        <a href="/contact" class="col-6 col-md-3 my-3 my-md-0" style="text-decoration: none;"><h5 style="color: white;">Contact</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>