.column {
    float: left;
    width: 50%
}

.pre-gradient-left {
    background-image: linear-gradient(black, blue);
    min-height: 100px;
}

.pre-gradient-right {
    background-image: linear-gradient(black, red);
    min-height: 100px;
}

.gradient-left {
    background-image: linear-gradient(blue, rgb(66, 184, 66));
    min-height: 300px;
}

.gradient-right {
    background-image: linear-gradient(red, rgb(66, 184, 66));
    min-height: 300px;
}

.page-end {
    background-image: linear-gradient(red, black);
    min-height: 100px;
}