<div class="row mb-0">
    <div class="col-md-6 pre-gradient-left"></div>
    <div class="col-md-6 pre-gradient-right"></div>
    <div class="col-md-6 gradient-left" style="text-align: right;">
        <img src="../../../assets/audio.png" alt="audio">
        <p class="text-center mt-5" style="font-size: xx-large; color: black;">
            <i>Audio</i>: Of or relating to recorded, transmitted, or reproduced sound. 
        </p>
    </div>
    <div class="col-md-6 gradient-right" style="text-align: left;">
        <img src="../../../assets/vascular.png" alt="vascular">
        <p class="text-center mt-5" style="font-size: xx-large; color: black;">
            <i>Vascular</i>: Of, characterized by, or containing cells or vessels that carry or circulate fluids, such as blood, lymph, or sap, through the body of an animal or plant. 
        </p>
    </div>
    <div class="after-gradient col-md-12 text-center" style="font-size: xx-large; color: black;">
        This looks cool
    </div>
    <div class="page-end"></div>
</div>





