<body class="project-desc">

    <!-- Header -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="text-center"><i>GTRI</i></h2>
        </div>
        <div class="col-md-2" style="text-align: right;">
            <a routerLink="/portfolio">
                <button class="btn btn-primary">Back to Portfolio</button>
            </a>
        </div>
    </div>

    <h3>Overview</h3>
    <p>
        The Georgia Tech Research Institute (<a href={{gtriLink}} target="_blank">GTRI</a>) is the nonprofit, applied research organization of the Georgia Institute of Technology. I was employed as a research scientist and software engineer from August 2021 to May 2023. This corresponds to the time between finishing my master's degree and starting my PhD.
    </p>
    <p>
        <i>*Please note that some specific project details are omitted because of non-disclosure agreements*</i>
    </p>

    <!-- C++ Application Development -->
    <h3>C++ Application Development</h3>
    <p>
        I was lead software engineer on a multi-million dollar project from February 2022 to May 2023. This project uses the Qt framework as a foundation. The backend is written in C++, and the front end is written in QML. Tasks included:
    </p>
    <ul>
        <li>Budgeting and delegating tasks.</li>
        <li>Designing the entire software architecture (front end and back end).</li>
        <li>Designing and implementing the GUI.</li>
        <li>Designing the build system using CMake.</li>
        <li>Designing and writing unit tests using CTest to ensure software stability.</li>
        <li>Writing software that communicates with hardware via socket connections.</li>
    </ul>

    <!-- EARS -->
    <h3>Vehicle Engine Identification with Python</h3>
    <p>
        During my first year with GTRI, I worked on a project aimed at classifying vehicles based soley on their engine sounds. We used Python exclusively for this project. My tasks included:
    </p>
    <ul>
        <li>Researching music information retrieval techniques to learn about potential methodologies to use.</li>
        <li>Research into machine learning architectures such as support vector machines and convolutional neural networks.</li>
        <li>Implementing a modular and configurable audio processing pipeline in Python.</li>
        <li>Implementing a variational autoencoder to experiement with sound generation.</li>
        <li>Planning and execution of a field recording day to collect data.</li>
    </ul>

    <!-- React -->
    <h3>Front End Development with React</h3>
    <p>
        My role for this project was to create a visualization of objects on a map using Javascript and React. My tasks included:
    </p>
    <ul>
        <li>Utilizing React to create a front end environment that could listen to and send messages to a python script.</li>
        <li>Incorportate OpenLayers for its mapping capabilities.</li>
        <li>Create custom React components that could be used wherever they were needed.</li>
    </ul>
</body>
