<div class="main-background">
    <div class="container">
        <app-text-mining-navigation/>
        <h1 style="text-align: center;">Conclusions</h1>
        <p>
            This project began in early January of 2025 and ended early May 2025. That is approximately 17 weeks. In that time, according to the Gun Violence Archive, there have been 92 mass shootings. That is on average over five per week. This past week (from the time of writing), there were six.

        <ul>
            <li>April 27th, 2025. Memphis, TN. 1 killed, 4 injured.</li>
            <li>April 27th, 2025. Forest Park, GA. 2 killed, 2 injured.</li>
            <li>April 27th, 2025. Elizabeth City, NC. 1 killed, 3 injured.</li>
            <li>April 27th, 2025. Rocky Mount, NC. 0 killed, 4 injured.</li>
            <li>April 28th, 2025. Gulfport, MS. 1 killed, 3 injured.</li>
            <li>April 29th, 2025. Minneapolis, MN. 3 killed, 2 injured.</li>
        </ul>

        <p>
            In total, 8 people have been killed and 18 injured in mass shootings this week. As mentioned in the introduction, this is only a fraction of those killed or injured from gun violence because of the need for four casualties to be considered a mass shooting.

        <p>
            Democrats and Republicans represent the two main sides in the debate. Democrats propose stricter gun laws, background checks, and closing gun show loop holes in their plans. Some believe in banning assault weapons altogether. Republicans often cite the second amendment, and some politicians worry that stricter gun laws would infringe on law-abiding citizens' rights to bear arms under the second amendment. They believe that gun control does not work, background checks are ineffective, and that criminals will just obtain guns through other means. Some have proposed arming teachers in schools to be a first line of defense for students. 

        <p>
            When searching for groups among the news articles, five groups seemed to emerge. Given this, five topics to come from the news articles seemed to be general mass shootings, school-specific shootings, general gun laws, how gun control affects schools, and President Donald Trump. These potentially could be grouped into 3 broader categories of describing the shootings (school and non-school), gun control debate, and President Trump. The degree to which President Trump is mentioned in the the last topic is very interesting as the word "trump" appeared more than twice as much as the second most common word. 

        <p>
            Various word associations within articles showed some more topics to be heavily mentioned in articles. "Mental" and "health" was a commonly associated word pairing which reflects the known discussions around mental health. The words "black" and "white" were associated, introducing the topic of race relations. One of most commonly associated words with "school" was "elementary" which is just sad but also true. Think of Robb Elementary school in Uvalde, Texas, and of Sandy Hook Elementary School in Newtown, Conneticut. A final note on the words associations showed a juxtaposition between the political discussions around gun control and the human stories and lives afflicted by it. Words like "american", "government", "rights", "political", "background", "trump", and "president" are associated. Contrast that with the word group including "dead", "families", "victims", "mental", and "health".

        <p>
            Further analyses continued to give credence to these conclusions and continued to show the divide between the political left and right. The left wing media is more likely to discuss racial relations and similar topics than the right is. The right typically discusses the shootings while also continuing to echo the need and right to bear arms. From this analysis, one could say that both political factions are echo chambers. News outlets on one side of the aisle or the other will discuss the same story in two very different ways.

        <p>
            As a final thought, let us return to the statistic presented at the top of the page. On average, there were more than 5 mass shootings every week for the past 17 weeks. These mass shootings affect everyone from elementary school students to the elderly to someone who just so happened to pick the wrong day and time to take a walk through their neighborhood park. The excellent quality of predictions based on a relatively small number of articles points to this being a highly political issue.
            
        <p>
            But should it be? Maybe it should for reasons related to the second amendment and the right to bear arms. Maybe it shouldn't for reasons related to academic research on gun control. As individuals, many of us have decided for ourselves how to reduce mass shootings. But as a country, it is safe to say that we have not, and each day we wait to make that decision is another chance for another shooting.
    </div>
</div>