<app-data-mining-navigation></app-data-mining-navigation>

<div class="container-sm">
    <div class="text-center">
        <h1 style="text-align: center;">Atharva Sachin Patil</h1>
        <img src={{atharvaPhoto}} alt="Atharva Sachin Patil" width="400" height="400"
            class="rounded-circle">
        <p> <!-- Bio   -->
            Atharva Patil holds a Bachelor's of Technology in Information Technology from the University of Mumbai and is currently pursuing a Master's degree in Data Science at the University of Colorado Boulder. Passionate about machine learning, he focuses on applying AI and ML models to tackle real-world challenges and drive innovation.
            <div class="row">
                <div class="col-1">
                    <a href={{atharvaLinkedin}} target="_blank"><img class="rounded-circle flex-shrink-0 me-5 site-logo" src={{linkedinIcon}} alt=""/></a>
                </div>
                <div class="col-1">
                    <a href={{atharvaGithub}} target="_blank"><img class="rounded-circle flex-shrink-0 me-5 site-logo" src={{githubIcon}} alt=""/></a>
                </div>
            </div>

        <br>

        <h1 style="text-align: center;">Sujith Battu</h1>
        <img src={{sujithPhoto}} alt="Sujith Battu" width="400" height="400"
            class="rounded-circle">
        <p> <!-- Bio   -->
            Sujith Battu is currently a Data Science Master's student at the University of Colorado Boulder with a passion for large data collection and medical image analysis. He completed an internship at DRDO where he gained practical experience in applying data modeling techniques. His goal is to pursue a career as a data scientist.
            <div class="row">
                <div class="col-1">
                    <a href={{sujithLinkedin}} target="_blank"><img class="rounded-circle flex-shrink-0 me-5 site-logo" src={{linkedinIcon}} alt=""/></a>
                </div>
                <div class="col-1">
                    <a href={{sujithGithub}} target="_blank"><img class="rounded-circle flex-shrink-0 me-5 site-logo" src={{githubIcon}} alt=""/></a>
                </div>
            </div>

        <br>

        <h1 style="text-align: center;">Deep Kalpesh Shukla</h1>
        <img src={{deepPhoto}} alt="Deep Shukla" width="400" height="400"
            class="rounded-circle">
        <p> <!-- Bio   -->
            Deep Shukla completed his undergraduate degree at Mumbai University in Artificial Intelligence and Data Science. He is current a master's student in Data Science at the University of Colorado Boulder.
            <div class="row">
                <div class="col-1">
                    <a href={{deepLinkedin}} target="_blank"><img class="rounded-circle flex-shrink-0 me-5 site-logo" src={{linkedinIcon}} alt=""/></a>
                </div>
                <div class="col-1">
                    <a href={{deepGithub}} target="_blank"><img class="rounded-circle flex-shrink-0 me-5 site-logo" src={{githubIcon}} alt=""/></a>
                </div>
            </div>

        <br>

        <h1>Daniel Ethridge</h1>
        <img src={{danielPhoto}} alt="Profile Picture" width="400" height="400"
                        class="rounded-circle">
        <p> <!-- Bio   -->
            Originally from Atlanta, Georgia, Daniel is a multi-faceted musician, sound engineer, and software engineer whose interests lie at the intersection of music, physiology, and technology. As a second year PhD student, he is researching music perception and cognition through the lens of cardiac signals such as heart rate and heart rate variability. He wants to employ methods from data mining and machine learning to take advantage of and analyze the vast and preexisting mixed audiovisual and physiological data available on the internet. Daniel received a Bachelor's degree in mathematics and music from Brevard College in Brevard, North Carolina and later a Master of Science in Music Technology from the Georgia Institute of Technology in Atlanta, Georgia. He is currently advised by Dr. Grace Leslie, professor of music and director of the Brain Music Lab at the ATLAS Institute.
            <div class="row">
                <a href="audiovascular.com" target="_blank">Website</a>
                <p>University Email: Daniel.Ethridge@colorado.edu</p>
                <div class="col-1">
                    <a href={{danielLinkedin}} target="_blank"><img class="rounded-circle flex-shrink-0 me-5 site-logo" src={{linkedinIcon}} alt=""/></a>
                </div>
                <div class="col-1">
                    <a href={{sujithGithub}} target="_blank"><img class="rounded-circle flex-shrink-0 me-5 site-logo" src={{githubIcon}} alt=""/></a>
                </div>
            </div>
    </div>
</div>