<app-ml-page-navigation/>
<h1 style="text-align: center;">Data Preparation and Exploratory Data Analysis</h1>

<div class="container-sm">
    <h2>Data Collection</h2>
    <p>
        Data collection was completed in two different ways: file downloads and via an API. The file downloads included the Last.Fm dataset<app-footnote [id]="1" [pageRoute]="pageRoute"/> and a <code class="path">.csv</code> file containing the <i>Billboard Hot 100</i> data<app-footnote [id]="2" [pageRoute]="pageRoute"/> for each week since it started. The API used was the Spotify<app-footnote [id]="3" [pageRoute]="pageRoute"/> Web API. The endpoints utilized included:
        <ul>
            <li><code class="path">https://accounts.spotify.com/api/token</code> in order to generate an access token based on credentials</li>
            <li><code class="path" >https://api.spotify.com/v1/search</code> in order to retrieve Spotify IDs based on artist and track names</li>
            <li><code class="path">https://api.spotify.com/v1/audio-features</code> in order to retreive Spotify audio features</li>
        </ul>

    <p>
        For example, the Python function below uses the API to retrieve a list of tracks based on search criteria. This list of tracks can be parsed through to find the needed Spotify ID:
        <img class="img-center" style="width: 40%" src="../../../assets/ml-assets/api-example.png" alt="Example of API call in Python"/>

    <h2>Data Cleaning, Descriptions, and Visualizations</h2>
    <h3>Spotify</h3>
    <p>
        There are 9 audio features that we can extract from the Spotify data. All definitions are quoted directly from the Spotify API audio features documentation<app-footnote [id]="4" [pageRoute]="pageRoute"/>. All feature values fall in the range [0.0, 1.0] unless otherwise stated.
        <ol>
            <li>Acousticness: A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.</li>
            <li>Danceability: Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.</li>
            <li>Energy: Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.</li>
            <li>Instrumentalness: Predicts whether a track contains no vocals. "Ooh" and "aah" sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly "vocal". The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.</li>
            <li>Loudness: The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typically range between -60 and 0 db.</li>
            <li>Mode: Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.</li>
            <li>Speechiness: Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.</li>
            <li>Tempo: The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.</li>
            <li>Valence: A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).</li>
        </ol>

    <h4>Spotify Visualizations</h4>
    <p>
        Spotify data collection is ongoing due to the need of requesting data for almost one million songs. The visualizations below take into account the first 85,556 songs. As a first look at the Spotify data, it is interesting to look at each feature to see how they are distributed:

    <div class="row">
        <div class="col-6"><img class="plot" src="../../../assets/ml-assets/ml-eda-plots/binned-acousticness.png"></div>
        <div class="col-6"><img class="plot" src="../../../assets/ml-assets/ml-eda-plots/binned-danceability.png"></div>
    </div>
    <div class="row">
        <div class="col-6"><img class="plot" src="../../../assets/ml-assets/ml-eda-plots/binned-energy.png"></div>
        <div class="col-6"><img class="plot" src="../../../assets/ml-assets/ml-eda-plots/binned-instrumentalness.png"></div>
    </div>
    <div class="row">
        <div class="col-6"><img class="plot" class="plot" src="../../../assets/ml-assets/ml-eda-plots/binned-loudness.png"></div>
        <div class="col-6"><img class="plot" src="../../../assets/ml-assets/ml-eda-plots/binned-mode.png"></div>
    </div>
    <div class="row">
        <div class="col-6"><img class="plot" src="../../../assets/ml-assets/ml-eda-plots/binned-speechiness.png"></div>
        <div class="col-6"><img class="plot" src="../../../assets/ml-assets/ml-eda-plots/binned-tempo.png"></div>
    </div>
    <div class="row">
        <div class="col-6"><img class="plot" src="../../../assets/ml-assets/ml-eda-plots/binned-valence.png"></div>
        <div class="col-6"><img class="plot" src="../../../assets/ml-assets/ml-eda-plots/feature-boxplots.png"></div>
    </div>

    <p>
        The last plot compares the distributions of the different features that have values in the range [0.0, 1.0]. It is interesting to see both the variety of distributions. The speechiness box plot is particularly interesting though also unsurprising. As stated above, a value closer to 0 indicates music and other non-speech tracks, so a distribution where most everything is close to 0 is unsurprising.

    <h2 id="lastfmdata">Last.fm</h2>
    <p>
        The Last.fm dataset serves two main purposes:
        <ol>
            <li>Provide artist and title information to query Spotify</li>
            <li>Provide qualitative tags for each track</li>
        </ol>

        Below is an example of how the downloaded raw JSON data appeared:

    <img class="img-center-l" src="../../../assets/ml-assets/raw-lfm-data.png" alt="Raw Last.Fm">

    <br>
    <p>
        Each file was parsed and packaged together into a single <code class="path">.csv</code> file:

    <img class="img-center-l" src="../../../assets/ml-assets/lfm-csv.png" alt="Last.Fm CSV sample">

    <h4>Last.Fm Tags</h4>
    <p>
        The tags provided the largest cleaning task for the aggregated dataset. The type of tags that were focused on were genre-specific tags, tags defining what year a song is from, and whether the song had a male or female vocalist. These include tags like "female vocalist", "70s", and "punk". The figure below shows the 50 most common tags before any tags were filtered out.

    <img class="img-center-l" src="../../../assets/lfm-tags-raw.png" alt="Raw Last.Fm tags">

    <p>
        This plot shows several tags outside the scope such as multiple spellings and capitalizations of "favorite", "seen live", and "sexy". These tags and many others are not useful for our analysis. Additionally, the tags "female vocalist" and "female vocalists" exist. These tags and others were merged according to their respective similarities. The plot below shows the most popular tags after cleaning.

    <img class="img-center-l" src="../../../assets/lfm-tags-cleaned.png" alt="Cleaned Last.Fm tags">

    <p>
        Duplicate tags have been merged, and unnecessary tags have been removed. The plot now shows interesting peaks with female vocalist, electronic and pop. These insights could lead to further interesting questions to explore. 

    <h2><i>Billboard Hot 100</i></h2>
    <p>
        Inspecting the <i>Billboard Hot 100</i> data showed it to be an already cleaned dataset. To visualize the data, look at the three plots below.

    <div class="row">
        <img class="img-center-l" src="../../../assets/ml-assets/billboard-artists.png" alt="Billboard top artists">
    </div>
    <div class="row">
        <img class="img-center-l" src="../../../assets/ml-assets/num-weeks-on-chart.png" alt="Number Weeks on chart">
    </div>
    <div class="row">
        <img class="img-center-l" src="../../../assets/ml-assets/peak-positions.png" alt="Peak positions">
    </div>

    <p>
        Given Taylor Swift's popularity and the major success of her Eras tour, it's unsurprising that she tops the list. The following chart shows what many would say is obvious: the number one spot is often held for only a week at a time, and then a new song takes the top spot the following week. A more surprising insight comes from the third plot. If a song makes it to the <i>Billboard Hot 100</i>, it could be likely to eventually rise to the top.


    <h2>References</h2>
    <app-references [id]="1" [pageRoute]="pageRoute" referenceLink="http://millionsongdataset.com/lastfm/"/>
    <app-references [id]="2" [pageRoute]="pageRoute" referenceLink="https://github.com/utdata/rwd-billboard-data/blob/main/data-out/hot-100-current.csv"/>
    <app-references [id]="3" [pageRoute]="pageRoute" referenceLink="https://spotify.com"/>
    <app-references [id]="4" [pageRoute]="pageRoute" referenceLink="https://developer.spotify.com/documentation/web-api/reference/get-audio-features"/>
</div>
