<div class="col">
    <a href="{{project.projectPage}}" class="no-hover" style="text-decoration: none;">
        <div class="hover-box mb-3">
            <div class="row">
                <div class="col-6 align-items-center">
                    <img src="{{project.image}}" style="max-width: 100%; height: auto; display: block;" alt="">
                </div>
                <div class="col-6 d-flex align-items-center">
                    <h5 class="d-none d-lg-inline text-center">{{project.summary}}</h5>
                    <p class="d-inline d-lg-none text-center">{{project.summary}}</p>
                </div>
            </div>
        </div>
    </a>
</div>


