<div class="main-background">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center pb-3">Low-Level Audio Feature Correlates to Physiological Arousal</h1>
            </div>
            <div class="col-12">
                <h3 class="text-center pb-3">A Secondary Analysis of the DEAP Dataset</h3>
            </div>
        </div>
        
        <h5 class=text-center><a style="color: white" href="https://doi.org/10.1145/3678299.3678327" target="_blank">Link to paper</a></h5>
        <h5>Co-authors: <a style="color: white" href="https://www.luisxdepablo.com/" target="_blank">Luis X. de Pablo</a> and <a style="color: white" href="https://www.colorado.edu/music/grace-leslie" target="_blank">Grace Leslie</a></h5>
    
        <h4 class="mt-5">About the Research</h4>
        <div style="float: right; margin-left: 20px;">
            <a href="https://audiomostly.com/2024/" target="_blank">
                <img src="../../../assets/audio-mostly.jpeg" alt="" 
                    style="transition: filter 0.3s;"
                    onmouseover="this.style.filter='brightness(1.5)'" 
                    onmouseout="this.style.filter='brightness(1)'">
            </a>
        </div>
        <p>
            Listening to music causes acute changes in our physiology that we can measure. Heart rate variability (HRV), defined as the beat to beat variation across successive heartbeats, is a popular physiological tool to measure the activity of the autonomic nervous system. Galvanic skin response (GSR) is defined by changes in electrical potentials in the skin and also has been shown to serve as a biomarker of autonomic nervous system activity. Prior work has shown that listening to various genres of music will elicit measurable changes in heart rate, HRV, and GSR. Prior work has not investigated correlations between low level audio features (such as those used in music information retrieval) and physiological responses to music. 
            
        <p>
            This research aimed to fill this gap in knowledge through a secondary analysis of the DEAP dataset. From raw physiological data, we extracted heart rate, HRV features, and GSR features corresponding to when they listened to various music. Then we extracted low-level audio features from the music that participants listened to. Using mixed effects models and multiple regression analyses, we found correlations between the audio domain and the physiological domain. Our results suggested a link between percussive aspects of music with increased physiological arousal which is supported by existing literature. More interestingly, we found similar evidence for a link between voice or voice-like sounds in music and increased physiological arousal.
    </div>
</div>