<mat-menu #ModelMenu="matMenu">
    <a class="blue-button" mat-menu-item [routerLink]="tmClustering">Clustering</a> 
    <a class="blue-button" mat-menu-item [routerLink]="tmArm">ARM</a>
    <a class="blue-button" mat-menu-item [routerLink]="tmLda">Latent Dirichlet Allocation</a>
    <a class="blue-button" mat-menu-item [routerLink]="tmNb">Naïve Bayes</a>
    <a class="blue-button" mat-menu-item [routerLink]="tmDescTree">Decision Trees</a>
    <a class="blue-button" mat-menu-item [routerLink]="tmSvm">SVMs</a>
    <a class="blue-button" mat-menu-item [routerLink]="tmNn">Neural Networks</a>

</mat-menu>

<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container" style="font-size: 18px;">
        <ul class="nav justify-content-center">
            <li class="nav-item nav-button-style">
                <a [routerLink]="tmIntro">
                    <button class="green-button">Introduction</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                <a [routerLink]="tmData">
                    <button class="green-button">Data</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                    <button class="green-button" [mat-menu-trigger-for]="ModelMenu">Models and Methods</button>
            </li>
            <li class="nav-item nav-button-style">
                <a [routerLink]="tmConclusions">
                    <button class="green-button">Conclusions</button>
                </a>
            </li>
        </ul>
    </div>
</nav>

