::ng-deep .mat-mdc-menu-panel {
    background: #D6D6D6 !important;
    min-width: 200px !important;
    border-radius: 25px !important;
    overflow: hidden !important;
}

::ng-deep .mat-mdc-menu-item {
    width: 90% !important;
    margin: 8px 0 !important;
    text-align: center !important;
}

::ng-deep .mat-mdc-menu-content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 4px !important;
}
