<div class="container">

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card 
                [projectName]="'Sample Angular App'" 
                [projectDescription]="'Sample Description'"></app-project-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card 
                [projectName]="'Sample Python App'"
                [projectDescription]="'Sample Description 2'"></app-project-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card 
            [projectName]="'Chrome Extension'"
            [projectDescription]="'Sample Description 3'"></app-project-card>
        </div> 
    </div>
</div>
