<body class="project-desc">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center"><i>Compositions</i></h2>
        </div>
        <div class="col-md-4" style="text-align: right;">
            <a routerLink="/portfolio">
                <button class="btn btn-primary">Back to Portfolio</button>
            </a>
        </div>
    </div>
    <h3>Perseverance in Chaos</h3>
    <p>
        I composed this instrumental piece in the spring of 2021. Most of the parts are MIDI instruments, but the ethereal-sounding vocals that are present every now and then are me. Written with Ableton Live, I took advantage of Max for Live for this, so there is an accompanying Max/MSP patch that goes with this and controls the background effects heard throughout the piece.
    </p>
    <p>Listen here! (The link might not work on mobile. If that’s the case, try a desktop computer.) <br/>
        <a href="https://soundcloud.com/user-219856532/perseverance-in-chaos"><i>Perseverance in Chaos</i></a>
    </p>
    <h3><i>Can't Complain</i></h3>
    <p>
        With lyrics written by my childhood best friend, I wrote the music to Can't Complain in the fall of 2019. It served as the final group project of my Recording and Mixing course during my master's degree at Georgia Tech. We recruited musicians to record, recorded ourselves (I'm playing piano in this), and fully edited and mixed the song from start to finish. 
    </p>
    <p>Listen below! (The link might not work on mobile. If that's the case, try a desktop computer.)<br/>
        <a href="https://soundcloud.com/user-219856532/cant-complain"><i>Can't Complain</i></a>
    </p>
    <h3><i>Anteronesia</i> Music</h3>
    <p>
        For my project <i>Anteronesia</i>, I composed four separate looping tracks to serve as the soundtrack for the game. These tracks are:
    </p>
        <ul>
            <li>Main Theme</li>
            <li>Forest Theme</li>
            <li>Village Theme</li>
            <li>Fight Music</li>
        </ul>
    <p>
        There is more information on the <i>Anteronesia</i> project page. <a routerLink="/portfolio/anteronesia">Check it out!</a>
    </p>
</body>