<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h3>Contact</h3>
        <p>Want to connect? Email me at: <br> daniel@audiovascular.com</p>
    </div>

    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/daniel-ethridge1/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../../assets/linkedin-logo.png" alt="LinkedIn Logo" width="40" height="40" class="rounded-circle flex-shrink-0 me-5">
            <h3>LinkedIn</h3>
        </a>
        <a href="https://github.com/daniel-ethridge" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../../assets/github-logo.jpeg" alt="Github Logo" width="40" height="40" class="rounded-circle flex-shrink-0 me-5">
            <h3>Github</h3>
        </a>
    </div>

</div>