<div class="main-background">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center mb-5 out-box rounded">
            <div>
                <h1 class="text-center">Contact</h1>
                <p class="text-center">University Email: daniel.ethridge&#64;colorado.edu</p>
                <p class="text-center">Professional Email: daniel&#64;audiovascular.com</p>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-1">
                        <a href="https://www.linkedin.com/in/daniel-ethridge1/" target="_blank">
                            <img src="../../../assets/linkedin-logo.png" alt="LinkedIn Logo" width="40" height="40" class="rounded-circle">
                        </a>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-2">
                        <a href="https://github.com/daniel-ethridge" target="_blank">
                            <img src="../../../assets/github-logo.jpeg" alt="Github Logo" width="40" height="40" class="rounded-circle">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>