<div class="main-background">
    <div class="container-sm">
        <!-- Text and Image row -->
        <div class="row">
            <div class="col-12 col-xl-6">
                <div>
                    <h1 id="intro-text" class="fade-in-1 text-xxl-start text-center">Exploring how <span class="green-text">Music</span> induces <span class="green-text">Emotion</span>, one data point at a time. testing edits</h1>
                </div>
            </div>
            <div id="hero-image" class="col-12 col-xl-6 fade-in-2" style="margin-top: 60px;">
                <img src="../../../assets/hero-venn-diagram.png" alt="" style="width: 100%;">
            </div>
        </div>

        <!-- Buttons row -->
        <div class="row">
            <div class="col-3 col-xxl-1"></div>
            <div class="col-6 col-xxl-4 mt-xxl-n">
                <div id="buttons" class="fade-in-3">
                    <div style="width: 100%;">
                        <a routerLink="/portfolio/music-emotion">
                            <button class="green-button bright-hover"><h5>Current Research</h5></button>
                        </a>
                        <a routerLink="/portfolio">
                            <button class="green-button bright-hover"><h5>Previous Endeavors</h5></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
