<div class="main-background">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center mb-5">
            <div class="row row-cols-1">
                <div class="col text-center">
                    <h1>Research</h1>
                </div>
                <div class="col text-center">
                    <a href="/dataset-creation:q=test">
                        <button class="green-button bright-hover"><h5>Go</h5></button>
                    </a>
                </div>
            </div>        
        </div>
    </div>
</div>