<div class="main-background">
    <div class="container">
        <h1 class="text-center mb-5">Music, Emotion, and Data</h1>

        <h4 class="mb-5">
            Music makes us feel so many different emotion, yet scholarly research focuses on so few. The most commonly studied emotions in music research are sadness, happiness, anger, relaxation, chills, fear, peace, and groove. Arguably, some of these aren't even emotions.
        </h4>

        <h4 class="mb-5">
            I want to move past these emotions and the commonly used data analysis techniques to expand what we know about musically induced emotion. My goal is to meaningfully advance what we know about musically induced emotion in a way that brings value to society.
        </h4>

        <div class="row row-cols-1">
            <div class="col text-center">
                <a routerLink="/portfolio/music-emotion">
                    <button class="green-button bright-hover" style="width: 25%;"><h5>Learn More</h5></button>
                </a>
            </div>
            <div class="col text-center">
                <a routerLink="/portfolio/music-emotion">
                    <button class="green-button bright-hover" style="width: 25%;"><h5>Get Involved</h5></button>
                </a>
            </div>
        </div>

        
    </div>
</div>
