<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container" style="font-size: 18px;">
        <ul class="nav justify-content-center">
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/data-mining/introduction">
                    <button class="green-button bright-hover">Introduction</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/data-mining/data-exploration">
                    <button class="green-button bright-hover">Data Exploration</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/data-mining/models">
                    <button class="green-button bright-hover">Models Implemented</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/data-mining/conclusions">
                    <button class="green-button bright-hover">Conclusions and Results</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/data-mining/team">
                    <button class="green-button bright-hover">Team</button>
                </a>
            </li>
        </ul>
    </div>
</nav>