<mat-menu #ModelsAndMenus>
    <a mat-menu-item routerLink="/portfolio/machine-learning/models-and-methods">Coming Soon</a>
</mat-menu>

<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container" style="font-size: 18px;">
        <ul class="nav justify-content-center">
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/data-mining/introduction">
                    <button mat-stroked-button>Introduction</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/data-mining/data-exploration">
                    <button mat-stroked-button>Data Exploration</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/data-mining/models">
                    <button mat-stroked-button>Models Implemented</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/data-mining/conclusions">
                    <button mat-stroked-button>Conclusions and Results</button>
                </a>
            </li>
            <li class="nav-item nav-button-style">
                <a routerLink="/portfolio/data-mining/team">
                    <button mat-stroked-button>Team</button>
                </a>
            </li>
        </ul>
    </div>
</nav>