<!-- <body> 
    <div class="container-sm">
        <ul class="timeline" id="menu">
            <div *ngFor="let lit of literature">
                <li class="{{alignSide()}}">
                    <div class="{{alignDot()}}">
                        <div class="card">
                            <h3>{{monthMap(lit.month)}}{{lit.year}}. {{lit.title}}</h3>
                            <p>Author(s): {{lit.authors}}</p>
                            <p *ngIf="lit.summary">Summary: {{lit.summary}}</p>
                            <p *ngIf="lit.methods">Methods: {{lit.methods}}</p>
                            <p *ngIf="lit.conclusions">Conclusions: {{lit.conclusions}}</p>
                            <p *ngIf="lit.link"><a href="{{lit.link}}" target="_blank">Link</a></p>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</body> -->

<body> 
    <div class="container-sm">
        <div *ngFor="let lit of literature">
            <div class="row">
                <div class="col-1">
                    <h2 *ngIf="lit.id && writeYear(lit.id)">
                        <u>{{lit.year}}</u>
                    </h2>
                </div>
                <div class="col-11 float-end">
                    <div class="{{alignDot()}}">
                        <div class="card">
                            <h3>{{lit.year}}{{monthMap(lit.month)}}. {{lit.title}}.</h3>
                            <p *ngIf="lit.authors">Author(s): {{lit.authors.join(", ")}}</p>
                            <p *ngIf="lit.aims_questions">Aims and Research Questions: {{lit.aims_questions}}</p>
                            <p *ngIf="lit.methods">Methods: {{lit.methods}}</p>
                            <p *ngIf="lit.results">Results: {{lit.results}}</p>
                            <p *ngIf="lit.discussion">Discussion: {{lit.discussion}}</p>
                            <p *ngIf="lit.link"><a href="{{lit.link}}" target="_blank">Link</a></p>
                        </div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
</body>
