<html style="background-color: black;">
    <body style="margin-left: 5%; margin-right: 5%">
        <div class="row">
            <div class="col-md-6" 
                style="background-image: linear-gradient(black, blue);"></div>
            <div class="col-md-6"
                style="background-image: linear-gradient(black, red);"></div>
            <div class="col-md-6" 
                style="text-align: right; 
                background-image: linear-gradient(to bottom, blue, rgb(66, 184, 66)); 
                min-height: 300px;">
                <img src="../../../assets/audio.png" alt="audio">
                <p class="text-center mt-5" style="font-size: xx-large; color: white;">
                    <i>Audio</i>: Of or relating to recorded, transmitted, or reproduced sound. 
                </p>
            </div>
            <div class="col-md-6" 
                style="text-align: left; 
                background-image: linear-gradient(red, rgb(66, 184, 66));
                min-height: 300px;">
                <img src="../../../assets/vascular.png" alt="vascular">
                <p class="text-center mt-5" style="font-size: xx-large; color: white;">
                    <i>Vascular</i>: Of, characterized by, or containing cells or vessels that carry or circulate fluids, such as blood, lymph, or sap, through the body of an animal or plant. 
                </p>
            </div>

            <!-- Text -->
            <div class="col-md-12 text-center" 
                style="
                    font-size: xx-large; 
                    color: black;
                    background-color:rgb(66, 184, 66);">
                We may never fully understand why music makes us feel, but it's an interesting question to ponder. My work aims to explore this question, seeking answers at the intersection of physiology and music.
            </div>

            <!-- Color shift -->
            <div 
                class="col-md-12" 
                style="background-image:linear-gradient(rgb(66, 184, 66), blue); min-height: 50px;">
            </div>

            <!-- Text -->
            <div class="col-md-12 text-center" 
                style="
                    font-size: xx-large; 
                    color: white;
                    background-color: blue;">
                <i>Audiovascular</i> fits this sentiment perfectly. We can begin measure the effect that music has on us by looking at two of our organs: The heart and the skin.
            </div>

             <!-- Color shift -->
            <div 
                class="col-md-12" 
                style="background-image:linear-gradient(blue, red); min-height: 50px;">
            </div>

            <!-- Text -->
            <div class="col-md-12 text-center" 
                style="
                    font-size: xx-large; 
                    color: black;
                    background-color: red;">
                If you are interested in keeping us with this journey, check back to this page periodically. Updates coming soon!
            </div>

            <div class="page-end"></div>
        </div>
    </body>
</html>





